@model ContactsManager.Models.Contact

<h2>Delete Contact</h2>

<p>Are you sure you want to delete this contact?</p>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Phone</dt>
    <dd class="col-sm-9">@Model.Phone</dd>

    <dt class="col-sm-3">Address</dt>
    <dd class="col-sm-9">@Model.Address</dd>

    <dt class="col-sm-3">Date of Birth</dt>
    <dd class="col-sm-9">@Model.DateOfBirth.ToShortDateString()</dd>

    <dt class="col-sm-3">Gender</dt>
    <dd class="col-sm-9">@Model.Gender</dd>
</dl>

<form asp-action="Delete" method="post">
    <input asp-for="ContactId" type="hidden" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
